<div class="container mt-5">
  <h1>Pago pendiente</h1>
  <p>Tu pago está siendo procesado. Te notificaremos una vez que se haya completado.</p>
  <%= link_to 'Volver a las reservas', user_bookings_path(current_user), class: 'btn btn-primary' %>
</div>
