<div class="container mt-5">
  <h1>El pago falló</h1>
  <p>Lo sentimos, hubo un problema con tu pago. Por favor, inténtalo de nuevo.</p>
  <%= link_to 'Volver a las reservas', user_bookings_path(current_user), class: 'btn btn-primary' %>
</div>
