<table class="table">
  <thead>
    <tr>
      <% dates.each do |i| %>
        <th><%= i.strftime("%a %d %b") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% (0..3).each do |i| %>
        <td>
          <% availability = availabilities.select { |a| a.business_date == dates[i] } %>
          <% if availability.any? %>
            <ul class="list-unstyled">
              <% availability.each do |a| %>
                <li>
                  <%= link_to new_booking_path(service_id: service.id, date: a.business_date, time: a.starting_hour), class: "btn btn-outline-primary w-100 mb-1", data: { turbo_frame: "_top" } do %>
                    <%= a.starting_hour.strftime("%H:%M") %>
                  <% end %>
                </li>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>-</p>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
