<table class="table">
  <thead>
    <tr>
      <% if params[:day] == 'next' %>
      <% dates = (Date.today + 4.days..Date.today + 7.days) %>
      <% elsif params[:day] == 'prev' %>
      <% dates = (Date.today - 4.days..Date.today - 1.days) %>
      <% else %>
      <% dates = (Date.today..Date.today + 4.days) %>
      <% end %>
      <% dates.each do |i| %>
        <th><%= i.strftime("%a %d %b") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% (0..3).each do |i| %>
        <td>
          <% availability = availabilities.select { |a| a.business_date == Date.today + i.days } %>
          <% if availability.any? %>
            <ul class="list-unstyled">
              <% availability.each do |a| %>
                <li><%= a.starting_hour.strftime("%H:%M") %></li>
              <% end %>
            </ul>
          <% else %>
            <p>-</p>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
