<% content_for :page_title, "Psicólogos" %>
<div class="container">
  <h2 class="mt-5 mb-4">Agenda hoy tu primera cita con un psicólogo en línea</h2>
  <div class="container">
    <div class="row" id="services">
      <% Service.where(published: true).each do |service| %>
        <div class="col-md-6 mb-4">
          <%= render partial: "shared/psychologist_card", locals: { psychologist: service.psychologist, service: service } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
