<turbo-frame id="availabilities_<%= @psychologist.id %>">
    <div class="card-footer">
      <div class="row">
        <div class="col-2">
          <%= link_to pages_update_dates_path(day: "prev", start_date: @primer_dia, psychologist_id: @psychologist.id), data: { turbo_frame: "availabilities_#{@psychologist.id}" }, class: "btn btn-outline-secondary w-100" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
              <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
            </svg>
          <% end %>
        </div>
        <div class="col-8">

            <%= render partial: "pages/availabilities", locals: { availabilities: @service.psychologist.availabilities.where('business_date >= ?', @dates.first).where('business_date <= ?', @dates.last).order(:business_date), dates: @dates, service: @service } %>

        </div>
        <div class="col-2 text-end">
          <%= link_to pages_update_dates_path(day: "next", start_date: @primer_dia, psychologist_id: @psychologist.id), data: { turbo_frame: "availabilities_#{@psychologist.id}" }, class: "btn btn-outline-secondary w-100" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>
          <% end %>
        </div>
      </div>
    </div>
  </turbo-frame>
