.calendar-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.calendar-header {
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6;
  padding: 20px;
}

.week-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.week-header, .week-body {
  display: flex;
}

.week-header {
  border-bottom: 1px solid #dee2e6;
}

.time-column-header, .time-slots {
  flex: 0 0 60px;
  border-right: 1px solid #dee2e6;
  text-align: center;
}

.time-column-header {
  padding: 10px 0;
  box-sizing: border-box;
}

.day-headers-container, .day-columns-container {
  display: flex;
  flex: 1;
}

.day-header, .day-column {
  flex: 1;
  min-width: 0;
}

.day-header {
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
}

.day-header.today {
  background-color: $blue;
  color: white;
  font-weight: bold;
}

.time-slots {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-slot {
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
}

.day-column {
  position: relative;
  border-right: 1px solid #dee2e6;
}

.booking {
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  width: calc(100% - 10px);
  left: 5px;
  box-sizing: border-box;
  padding: 5px;
  position: absolute;
}

.booking-time {
  font-weight: bold;
}

.booking-actions .btn {
  margin-right: 0.5rem;
}

.booking strong {
  color: #333;
}

.current-time-line {
  position: absolute;
  width: 100%;
  border-top: 1.5px solid #4f46e5;
  z-index: 10;
}

.table thead th {
  background-color: #f8f9fa;
  font-weight: bold;
  text-align: center;
}

.table tbody td {
  height: 60px;
}
