// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/custom-buttons";
@import "pages/index";



.table thead th {
  background-color: #f8f9fa;
  font-weight: bold;
  text-align: center;
}

.table tbody td {
  height: 60px;
}

.booking {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  background-color: #f8f9fa;
}

.booking strong {
  color: #333;
}
